services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: chatbot_api
    env_file:
      - backend/.env
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8100:8000"
    depends_on:
      - db
      - redis

  db:
    image: postgres:16-alpine
    container_name: chatbot_db
    environment:
      POSTGRES_DB: chatbot
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  redis:
    image: redis:7-alpine
    container_name: chatbot_redis
    ports:
      - "6382:6379"

volumes:
  db_data:
